@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;

300;400&display=swap");
body {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(208, 208, 208, 0.126)), to(rgba(248, 248, 248, 0.81)));
  background: -o-linear-gradient(bottom, rgba(208, 208, 208, 0.126) 0%, rgba(248, 248, 248, 0.81) 100%);
  background: linear-gradient(0deg, rgba(208, 208, 208, 0.126) 0%, rgba(248, 248, 248, 0.81) 100%);
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 1450px;
  margin: 0 auto;
}

/* happy */

.happy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 170px 25px 220px 25px;
}

.happy-text {
  width: 39%;
  font-family: 'Montserrat', sans-serif;
  margin-right: 60px;
}

.happy-title {
  color: #C19B76;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.25em;
  margin-left: 3px;
}

.happy-subtittle {
  font-size: 60px;
  line-height: 73px;
  font-weight: 400;
  color: #151515;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
}

.happy-description {
  color: #151515;
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
}

.happy-description p {
  margin-bottom: 20px;
}

.happy-imagine {
  position: relative;
}

.happy-photo img {
  width: 100%;
}

.happy-border {
  border: 3px solid #d7d7d7;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 60px;
  right: 56px;
}

/* end happy */

/*advantage*/

.advantage {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.78)), to(rgba(0, 0, 0, 0.78))), url("../img/advantage.png");
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.78), rgba(0, 0, 0, 0.78)), url("../img/advantage.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0.78), rgba(0, 0, 0, 0.78)), url("../img/advantage.png");
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 4% 2%;
  max-height: 600px;
  color: white;
}

.advantage-tittle {
  font-size: 18px;
  line-height: 22px;
}

.advantage-subtittle {
  font-size: 45px;
  line-height: 55px;
  padding-bottom: 50px;
}

.advantage-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.advantage-item--row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantage-item {
  width: 33.33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

.advantage-item--img {
  margin-right: 20px;
}

.advantage-item--img img {
  width: 103px;
}

.advantage-item--text {
  margin-right: 70px;
}

.advantage-item--tittle {
  font-size: 22px;
  font-weight: bold;
  line-height: 27px;
}

.advantage-item--description {
  font-size: 15px;
  line-height: 18px;
}

/* end advantage */

/*rooms*/

/* slider */

.rooms {
  text-align: center;
  padding-bottom: 140px;
}

.rooms .container {
  max-width: 1650px;
  margin: 0 auto;
  padding: 0px 100px;
}

.rooms__row {
  border: 2px solid #d7d7d7;
  padding-top: 50px;
  max-width: 1320px;
  margin: 0 auto;
}

.rooms-tittle {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.3em;
  padding-top: 140px;
}

.rooms-subtittle {
  font-size: 45px;
  line-height: 55px;
  padding-bottom: 60px;
}

.slider-main {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  max-width: 1450px;
}

.slider-main__item__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.slider-main--imagine img {
  max-width: 100%;
  min-height: 140px;
  min-width: 160px;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider-main--text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: start;
  background: #F0F0F0;
  padding: 50px;
  width: 40%;
}

.slider-main--tittle {
  font-size: 34px;
  line-height: 41px;
  font-weight: bold;
}

.slider-main--subtittle {
  font-size: 16px;
  line-height: 20px;
  margin: 20px 0px;
}

.slider-main--subtittle span {
  color: #C19B76;
  font-weight: bold;
}

.slider-main--description {
  margin-bottom: 45px;
}

.slider-main__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -5px;
}

.slider-main--more,
.slider-main--reserve {
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  background-color: #976A3F;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.02em;
  color: white;
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0) 70%);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0) 70%);
  background-repeat: no-repeat;
  background-size: 200% 100%, auto;
  background-position: 200% 0, 0 0;
}

.slider-main--more:hover,
.slider-main--reserve:hover {
  background-position: -200% 0, 0 0;
}

.slider-main--more {
  margin-right: 40px;
}

.slider-slave__item img {
  max-width: 202px;
}

.slider-slave__item__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

/* стилизация слайдера */

.slider-main .slick-slide {
  max-height: 515px;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-list {
  overflow: hidden;
}

.slider-slave {
  position: relative;
  max-width: 1320px;
  padding: 30px 0px 30px 80px;
  margin: 0 auto;
}

.slider-slave-img {
  margin-right: 10px;
}

.slider-slave-text {
  text-align: start;
}

.slider-slave .slick-arrow {
  position: absolute;
  top: 32%;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 50px;
}

.slider-slave .slick-prev {
  left: -50px;
  background: url("../img/left-arrow.png") 0 0 no-repeat;
}

.slider-slave .slick-next {
  right: -50px;
  background: url("../img/right-arrow.png") 0 0 no-repeat;
}

/* end rooms sliders */

/*feedback&swiper*/

.feedback {
  background-color: #C19B76;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.feedback .container {
  max-width: 1550px;
  margin: 0 30px;
}

.feedback__item {
  background-color: white;
  border: 2px solid #D7D7D7;
}

.feedback__row {
  padding: 40px 50px 40px;
}

.feedback-text {
  border-bottom: 4px solid #976A3F;
  padding-bottom: 20px;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 0.1em;
}

.feedback-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 18px;
  line-height: 22px;
  margin-top: 15px;
}

.swiper {
  height: 100%;
  position: relative;
  overflow: hidden;
  padding: 0;
  z-index: 1;
}

.swiper-slide {
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.swiper-slide-active {
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transform: scale(1.4);
      -ms-transform: scale(1.4);
          transform: scale(1.4);
  z-index: 2;
}

.mySwiper {
  padding: 150px 0px;
  margin: 0px 20px;
}

.swiper-slide-next {
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.swiper-slide-prev {
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 0px;
  width: 30px;
  height: 50px;
}

.swiper-button-next::after {
  background: url("../img/right-arrow.png") 0 0 no-repeat;
}

.swiper-button-prev::after {
  background: url("../img/left-arrow.png") 0 0 no-repeat;
}

/*end feedback&swiper*/

/* for guests */

.for-guests {
  text-align: center;
  padding-bottom: 150px;
}

.for-guests .container {
  max-width: 1450px;
  margin: 0 auto;
  padding: 0 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.for-guests-tittle {
  padding-top: 130px;
  color: #976A3F;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.1em;
}

.for-guests-subtittle {
  font-size: 45px;
  line-height: 55px;
  padding-bottom: 100px;
}

.for-guests_content-box {
  width: 100%;
  height: 59vh;
  position: relative;
  border: 2px solid #D7D7D7;
}

.for-guests-imagine {
  position: absolute;
  left: -50px;
  top: 30px;
  z-index: 2;
  width: 60%;
}

.for-guests-imagine img {
  width: 100%;
}

.for-guests-text {
  background: #E7E7E7;
  padding: 50px 70px;
  position: absolute;
  max-width: 53%;
  max-height: 80%;
  top: -30px;
  right: -60px;
  text-align: left;
}

.for-guests-text-tittle {
  font-size: 30px;
  line-height: 37px;
}

.for-guests-text-description {
  font-size: 15px;
  line-height: 18px;
  margin-top: 20px;
}

.for-guests-reserve {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

.for-guests-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.for-guests-price span {
  color: #976A3F;
  font-size: 50px;
  line-height: 61px;
}

.for-guests-price-text {
  font-size: 15px;
  line-height: 18px;
}

.for-guests-price-text p:first-child {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}

.for-guests-button {
  color: white;
  padding: 15px 20px;
  background-color: #976A3F;
  border-radius: 5px;
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0) 70%);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0) 70%);
  background-repeat: no-repeat;
  background-size: 200% 100%, auto;
  background-position: 200% 0, 0 0;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}

.for-guests-button:hover {
  background-position: -200% 0, 0 0;
}

@media (min-width: 900px) {
  .for-guests-button-more {
    display: none;
  }
}

@media (max-width: 1600px) {
  .advantage {
    background-size: cover;
    background-position: center;
    max-height: 1000px;
  }
}

@media (max-width: 1500px) {
  .slider-main--text {
    padding: 30px;
  }

  .slider-main--tittle {
    font-size: 26px;
    line-height: 22px;
  }

  .slider-main--subtittle {
    line-height: 10px;
  }
}

@media (max-width: 1400px) {
  .slider-main--description {
    margin-bottom: 22px;
  }
}

@media (max-width: 1350px) {
  .for-guests_content-box {
    height: 56vh;
  }

  .for-guests-text {
    padding: 40px 50px;
  }

  .for-guests-reserve {
    margin-top: 30px;
  }
}

@media (max-width: 1300px) {
  .slider-main--text {
    padding: 20px;
  }

  .slider-main--text {
    padding: 10px;
  }

  .slider-main--description {
    font-size: 13px;
  }

  .slider-main--more,
  .slider-main--reserve {
    font-size: 8px;
  }

  .slider-slave-text {
    display: none;
  }
}

@media (max-width: 1200px) {
  .advantage-item--img img {
    width: calc(25px + 77 * (100vw/1200));
  }

  .slider-main--subtittle {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .slider-main--description {
    display: none;
  }

  .slider-main--more,
  .slider-main--reserve {
    padding: 8px 15px;
    font-size: 7px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin: 0 5px;
  }

  .slider-slave__item img {
    max-width: 170px;
  }

  .slider-slave .slick-arrow {
    top: 43%;
  }

  .for-guests_content-box {
    height: 50vh;
  }

  .for-guests-text {
    padding: 30px 40px;
    right: -50px;
  }

  .for-guests-reserve {
    margin-top: 20px;
  }

  .for-guests-price span {
    font-size: 40px;
    line-height: 30px;
  }

  .for-guests-price-text p:first-child {
    font-size: 15px;
    line-height: 17px;
  }
}

@media (max-width: 1150px) {
  .happy {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 1150px;
  }

  .happy-text {
    margin-bottom: 35px;
    width: 100%;
    margin-right: 0px;
    padding-left: 8%;
    padding-right: 8%;
  }

  .advantage-item {
    width: 50%;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }

  .feedback__row {
    padding: 25px 25px 40px;
  }

  .swiper-button-next {
    right: 5px;
  }

  .swiper-button-prev {
    left: 5px;
  }
}

@media (max-width: 1100px) {
  .for-guests-text-tittle {
    font-size: 25px;
    line-height: 20px;
  }

  .for-guests-text-description {
    font-size: 13px;
  }
}

@media (max-width: 1050px) {
  .slider-main--text {
    width: 80%;
  }

  .slider-main--tittle {
    font-size: 20px;
  }

  .slider-main--subtittle {
    font-size: 14px;
  }

  .slider-main--more,
  .slider-main--reserve {
    padding: 5px 9px;
  }

  .for-guests_content-box {
    height: 43vh;
  }
}

@media (max-width: 1000px) {
  .for-guests-text {
    padding: 20px 30px;
    right: -30px;
    top: -30px;
  }

  .for-guests-text-description {
    margin-top: 10px;
  }

  .for-guests-reserve {
    margin-top: 10px;
  }
}

@media (max-width: 950px) {
  .for-guests_content-box {
    height: 38vh;
  }
}

@media (max-width: 900px) {
  .rooms .container {
    padding: 0px 50px;
  }

  .rooms__row {
    border: none;
  }

  .slider-main__item__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .slider-main--text {
    width: 100%;
    max-height: 100%;
    padding: 30px;
  }

  .slider-main .slick-slide {
    max-height: none;
  }

  .slider-slave {
    display: none;
  }

  .swiper-slide-active {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    display: none;
  }

  .for-guests-imagine {
    left: -40px;
  }

  .for-guests-text {
    height: 400px;
  }

  .for-guests-text-description {
    display: none;
  }

  .for-guests-reserve {
    margin-top: 120px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .for-guests-price {
    display: none;
  }

  .for-guests-button-more {
    display: block;
  }

  .for-guests-button {
    padding: 10px;
    font-size: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 800px) {
  .happy {
    padding: 100px 60px;
  }

  .happy-text {
    padding-left: 3%;
    padding-right: 3%;
  }

  .happy-subtittle {
    font-size: 42px;
    line-height: 50px;
  }

  .advantage-tittle {
    font-size: 16px;
  }

  .advantage-subtittle {
    font-size: 30px;
    padding-bottom: 30px;
  }

  .advantage-item--text {
    margin-right: 20px;
  }

  .advantage-item--tittle {
    font-size: 18px;
  }

  .advantage-item--description {
    font-size: 13px;
  }

  .for-guests_content-box {
    height: 33vh;
  }

  .for-guests-imagine {
    left: -25px;
  }

  .for-guests-text {
    padding: 15px 20px;
    max-height: 200px;
  }

  .for-guests-text-tittle {
    font-size: 20px;
  }

  .for-guests-reserve {
    margin-top: 90px;
  }

  .for-guests-button {
    padding: 8px;
  }
}

@media (max-width: 800) {
  .advantage-item {
    margin-bottom: 20px;
  }
}

@media (max-width: 700px) {
  .for-guests-tittle {
    font-size: 15px;
    padding-top: 100px;
  }

  .for-guests-subtittle {
    font-size: 32px;
  }

  .for-guests_content-box {
    height: 27vh;
  }

  .for-guests-text {
    padding: 15px 0px 15px 10px;
    max-height: 170px;
  }

  .for-guests-reserve {
    margin-top: 70px;
  }
}

@media (max-width: 600px) {
  .advantage-item--tittle {
    font-size: 16px;
  }

  .for-guests .container {
    padding: 0 50px;
  }
}

@media (max-width: 550px) {
  .for-guests_content-box {
    height: 24vh;
  }

  .for-guests-imagine {
    width: 61%;
  }

  .for-guests-text {
    padding: 15px 0px 15px 15px;
    max-height: 140px;
  }

  .for-guests-reserve {
    margin-top: 50px;
  }

  .for-guests-button {
    font-size: 8px;
    padding: 6px;
  }
}

@media (max-width: 500px) {
  .happy {
    padding: 60px 30px;
  }

  .happy-text {
    padding-left: 0%;
    padding-right: 0%;
  }

  .happy-title {
    font-size: 10px;
  }

  .happy-subtittle {
    font-size: 35px;
    font-weight: 300;
    line-height: 40px;
  }

  .happy-description {
    font-size: 14px;
  }

  .happy-border {
    top: 30px;
    right: 25px;
  }

  .advantage-item--img {
    margin-right: 5px;
  }

  .advantage-item--tittle {
    font-size: 14px;
    line-height: 20px;
  }

  .advantage-item--description {
    font-size: 10px;
    line-height: 10px;
  }

  .rooms {
    padding-bottom: 50px;
  }

  .rooms .container {
    padding: 0px 30px;
  }

  .rooms__row {
    padding-top: 30px;
  }

  .rooms-tittle {
    font-size: 12px;
    padding-top: 30px;
  }

  .rooms-subtittle {
    font-size: 25px;
    line-height: 40px;
    padding-bottom: 10px;
  }

  .slider-main--text {
    padding: 15px 20px;
  }

  .slider-main--tittle {
    font-size: 18px;
  }

  .slider-main--subtittle {
    margin: 10px 0px;
  }

  .feedback .container {
    margin: 0 10px;
  }

  .feedback-text {
    font-size: 12px;
  }

  .feedback-description {
    font-size: 14px;
    line-height: 16px;
  }

  .mySwiper {
    padding: 50px 0px;
  }

  .for-guests {
    padding-bottom: 50px;
  }

  .for-guests .container {
    padding: 0 40px;
  }

  .for-guests-tittle {
    font-size: 12px;
    padding-top: 50px;
  }

  .for-guests-subtittle {
    padding-bottom: 60px;
    font-size: 25px;
  }

  .for-guests-imagine {
    left: -15px;
  }

  .for-guests-text-tittle {
    font-size: 16px;
  }
}

@media (max-width: 450px) {
  .for-guests_content-box {
    height: 21vh;
  }

  .for-guests-imagine {
    width: 63%;
  }

  .for-guests-button {
    padding: 4px;
    font-size: 7px;
    margin-right: 5px;
  }
}

@media (max-width: 400px) {
  .happy-subtittle {
    font-size: 30px;
  }

  .advantage {
    padding: 4% 1%;
  }

  .slider-main--tittle {
    font-size: 14px;
  }

  .slider-main--subtittle {
    font-size: 10px;
  }

  .for-guests {
    padding-bottom: 30px;
  }

  .for-guests-tittle {
    font-size: 10px;
    padding-top: 30px;
  }

  .for-guests-subtittle {
    font-size: 18px;
    padding-bottom: 30px;
  }

  .for-guests_content-box {
    height: 19vh;
  }

  .for-guests-text {
    max-height: 110px;
    top: -15px;
    padding: 15px 0px 15px 6px;
  }

  .for-guests-text-tittle {
    font-size: 14px;
  }

  .for-guests-reserve {
    margin-top: 30px;
  }
}

@media (max-width: 370px) {
  .for-guests_content-box {
    height: 17vh;
  }

  .for-guests-imagine {
    top: 20px;
    width: 64%;
  }
}

@media (max-width: 364px) {
  .for-guests-text {
    max-height: 90px;
    padding: 15px 0px 15px 10px;
  }

  .for-guests-reserve {
    margin-top: 15px;
  }

  .for-guests-button {
    font-size: 5px;
  }
}

@media (max-width: 360px) {
  .for-guests-text-tittle {
    font-size: 12px;
  }
}

@media (max-width: 350px) {
  .happy-description {
    font-size: 12px;
  }

  .for-guests_content-box {
    height: 15vh;
  }

  .for-guests-imagine {
    width: 65%;
  }
}

@media (max-width: 340px) {
  .for-guests-imagine {
    width: 66%;
  }
}

@media (max-width: 330px) {
  .for-guests-imagine {
    width: 67%;
  }
}
@supports (-webkit-appearance:none){
.advantage{background-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.78)), to(rgba(0, 0, 0, 0.78))), url("../img/advantage.webp")}
.advantage{background-image:-o-linear-gradient(rgba(0, 0, 0, 0.78), rgba(0, 0, 0, 0.78)), url("../img/advantage.webp")}
.advantage{background-image:linear-gradient(rgba(0, 0, 0, 0.78), rgba(0, 0, 0, 0.78)), url("../img/advantage.webp")}
.slider-slave .slick-prev{background:url("../img/left-arrow.webp") 0 0 no-repeat}
.slider-slave .slick-next{background:url("../img/right-arrow.webp") 0 0 no-repeat}
.swiper-button-next::after{background:url("../img/right-arrow.webp") 0 0 no-repeat}
.swiper-button-prev::after{background:url("../img/left-arrow.webp") 0 0 no-repeat}
}

 @media (min-width: 900px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1600px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1500px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1400px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1350px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1300px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1200px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1150px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1100px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1050px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1000px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 950px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 900px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 800px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 800){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 700px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 600px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 550px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 500px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 450px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 400px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 370px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 364px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 360px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 350px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 340px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 330px){

@supports (-webkit-appearance:none){

}

}
